.App {
  margin: 50px auto;
  width: 250px;
  height: 250px;
  text-align: center;
}





.spinner1,
.spinner2,
.spinner3 {
  animation: App-spin infinite 20s linear;
}

@keyframes App-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 
